<nav>
    <div class="nav-links">
        <a href="/">
            <img class="nav-logo" src="/assets/logo.svg" />
        </a>
        <a href="/">Posts</a>
        <a href="/tags/index.html">Tags</a>
    </div>
    <a href="https://lixquid.com">lixquid.com</a>
</nav>
